<%# SEE https://www.operaphila.org/ FOR REFERENCE %>
<footer class="footer">
    <div class="footerdivouter container">
        <div class="footerdivcontent">
            <%= render "./shared/nav_footer_wrapper", siteurl: siteurl %>
            <div class="footer-social-media">
<!--                <span>find us on social media</span>//-->
                <a href="https://www.youtube.com/channel/UCB2TuptP6n8S0St_ZDFcp7g" target="_blank" class="footer-sm-link footer-youtube"></a>
                <a href="https://www.facebook.com/pastorpaulandrews/" target="_blank" class="footer-sm-link footer-facebook"></a>
                <a href="https://twitter.com/FFCPastorPaul" target="_blank" class="footer-sm-link footer-twitter"></a>
            </div>
            <div class="footer-contact-form">
               <span>Don't miss a beat</span>
                <div>
                    <input class="email_input_text" type="text" placeholder="Your email" id="footer_email_address" />
                    <button data-toggle="modal" data-target="#subscription_modal" id="footer_subscribe_button">sign up</button>
                </div>
            </div>
        </div>
    </div>
    <div class="footerdivcopyright">
        <div class="center-page">
            <div class="pull-left">
              <span>Paul preaches Sunday mornings at <a href="http://ourfaithfamily.com" target="_blank">Faith Family Church</a></span>
            </div>
            <div class="pull-right">
            &#169; <%= Time.now.year %> pastorandrews.org
            </div>
        </div>

    </div>
</footer>