<%# SEE https://www.operaphila.org/ FOR REFERENCE %>
<footer class="footer">
    <div class="footerdivouter container">
        <div class="footerdivcontent">
            <%= render "./shared/nav_footer_wrapper", siteurl: siteurl %>
            <div class="footer-contact-form">
               <span>Don't miss a beat</span>
                <form>
                    <input placeholder="Your email"><button>sign up</button>
                </form>
            </div>
        </div>
    </div>
    <div class="footerdivcopyright">
        <div class="center-page">
            <div class="pull-left">
              <span>Paul preaches Sunday mornings at <a href="http://ourfaithfamily.com" target="_blank">Faith Family Church</a></span>
            </div>
            <div class="pull-right">
            &#169; <%= Time.now.year %> pastorandrews.org
            </div>
        </div>

    </div>
</footer>