<%# SEE https://www.operaphila.org/ FOR REFERENCE %>
<footer class="footer">
    <div class="footerdivouter container">
        <div class="footerdivcontent">
            <%= render "./shared/nav_links", site_url: siteurl %>
        </div>
    </div>
    <div class="footerdivcopyright">
        &#169; <%= Time.now.year %> pastorandrews.org
    </div>
</footer>