<footer class="footer">
    <div class="footerdivouter container">
        <div class="footerdivcontent">
            Additional footer content goes here
        </div>
        <div class="footerdivcopyright">
            &#169; <%= Time.now.year %> pastorandrews.org
        </div>
    </div>
</footer>