
<!--  nav code -->
<div id="sitenav" class="site_nav">
    <div class="titlewrapper">
        <div class="title">
            <a href="<%= siteurl %>" class="homelink">
                <span class="titlepastor">pastor</span><span class="titleandrews">andrews</span>
                <span class="titledr">encouraging and equipping christian men</span>
            </a>
        </div>
        <%= render "./shared/nav_title_wrapper", siteurl: siteurl %>
    </div>
</div>