<!--  nav code -->
<div id="sitenav" class="site_nav">
    <div class="titlewrapper">
        <div class="title">
            <span class="titlepastor">Pastor</span><span>Andrews</span>
        </div>
        <div class="titlelinks">
            <a href="http://ffcpastor.com/" class="titlelink">home</a>
            <a href="http://ffcpastor.com/about" class="titlelink">about</a>
            <a href="http://ffcpastor.com/contact" class="titlelink">contact</a>
            <a href="http://ffcpastor.com/resources" class="titlelink">resources</a>
            <a href="http://ffcpastor.com/blog" class="titlelink">blog</a>
<!--            <a href="<%#= root_url %>" class="titlelink">home</a>
            <a href="<%#= about_path %>" class="titlelink">about</a>
            <a href="<%#= contact_path %>" class="titlelink">contact</a>
            <a href="<%#= resources_path %>" class="titlelink">resources</a>
            <a href="<%#= root_url %>blog" class="titlelink">blog</a>-->
        </div>
    </div>
</div>