<!--  nav code goes here -->
<div id="sitenav" class="topdiv section" style="">
    <div class="titlewrapper">
        <div class="title">
            <span class="titlepastor">Pastor</span>
            <span>Andrews</span>
        </div>
        <div class="titlelinks">
            <a href="<%= root_url %>" class="titlelink">home</a>
            <a href="<%= about_path %>" class="titlelink">about</a>
            <a href="" class="titlelink">blog</a>
        </div>
    </div>
</div>