<div class="section welcomewrapper">
    <div class="welcome">
        <h1>Welcome</h1>
    </div>
</div>
<div class="section emailwrapper">
    <div class="emailform">
        <span class="emailformfield" style="padding:10px;font-size:20px;">Subscribe to Newsletter:</span>
        <span class="emailformfield"><input type="text" placeholder="Name" /></span>
        <span class="emailformfield"><input type="text" placeholder="Email Address" /></span>
        <span class="emailformfield"><button>Subscribe</button></span>
    </div>
</div>
<div class="section linkswrapper">
    <div class="linkdiv bloglinkdiv">
        <a href="/blog">Blog</a>
    </div>
    <div class="linkdiv fblinkdiv">
        <a href="#">Facebook</a>
    </div>
    <div class="linkdiv rsrclinkdiv">
        <a href="/resources">Resources</a>
    </div>
</div>
<div class="section statementwrapper">
    <div class="missionstatement">Paul's passionate preaching and biblically based sermons enrich and inspire the body of believers here at
        Faith Family Church. He and his wife Judy have been serving the Lord in minsitry for more than 30 years, and founded Faith Family Church
        with the goal of creating a Christ centered atmosphere of worship and biblical learning. Come, listen, and be inspired to grow in your
        walk with Christ.
    </div>
</div>
<div class="section collagewrapper">
    <div class="collagediv">
        <ul>
            <li><img src="https://scontent-ord1-1.cdninstagram.com/t51.2885-15/e15/11272476_1652684238300255_960036139_n.jpg" /></li>
            <li><img src="https://scontent-ord1-1.cdninstagram.com/t51.2885-15/e35/12331653_1223387757687737_1221172949_n.jpg" /></li>
            <li><img src="https://scontent-ord1-1.cdninstagram.com/t51.2885-15/e35/16465193_276798572738683_3313637306895695872_n.jpg" /></li>
            <li><img src="https://scontent-ord1-1.cdninstagram.com/t51.2885-15/e35/12393932_1711383622481517_723686355_n.jpg" /></li>
            <li><img src="https://scontent-ord1-1.cdninstagram.com/t51.2885-15/e15/926478_561213903992448_2024923057_n.jpg" /></li>
        </ul>
    </div>
</div>

