<div class="section welcomewrapper">
    <div class="welcome">
        <h1>Welcome!</h1>
    </div>
</div>
<div class="section emailwrapper">
    <div class="emailform">
        <span class="emailformfield" style="padding:10px;font-size:20px;">Subscribe to Newsletter:</span>
        <span class="emailformfield"><input type="text" placeholder="Name" /></span>
        <span class="emailformfield"><input type="text" placeholder="Email Address" /></span>
        <span class="emailformfield"><button>Subscribe</button></span>
    </div>
</div>
<div class="section linkswrapper">
    <div class="linkdiv bloglinkdiv">
        <a href="/blog">Blog</a>
    </div>
    <div class="linkdiv fblinkdiv">
        <a href="#">Facebook</a>
    </div>
    <div class="linkdiv rsrclinkdiv">
        <a href="/resources">Resources</a>
    </div>
</div>
<div class="section statementwrapper">
    <div class="missionstatement">Paul's passionate preaching and biblically based sermons enrich and inspire the body of believers here at
        Faith Family Church. He and his wife Judy have been serving the Lord in minsitry for more than 30 years, and founded Faith Family Church
        with the goal of creating a Christ centered atmosphere of worship and biblical learning. Come, listen, and be inspired to grow in your
        walk with Christ.
    </div>
</div>
<div class="section carouselwrapper">
    <div class="carouseldiv">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="/assets/graduation.jpg" alt="Pauls Graduation">
                    <div class="carousel-caption"></div>
                </div>
                <div class="item">
                    <img src="/assets/paulandjudy.jpg" alt="Paul and Judy">
                    <div class="carousel-caption"></div>
                </div>
                <div class="item">
                    <img src="/assets/lizarobbins.jpg" alt="Liza Robbins">
                    <div class="carousel-caption"></div>
                </div>
            </div>

            <!-- controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

