<div id="mainwrapper" class="mainwrapper">
	<img src="/assets/background1.png" style="float:left;position:absolute;" width="1050px" />
	<div style="float:left;width:1050px;position:absolute;margin-top:50px;">
        <div class="titlewrapper">
            <div class="title">
                <span class="titlepastor">Pastor</span>
                <span>Andrews</span>
            </div>
            <div class="titlelinks">
                <a href="" class="titlelink">home</a>
                <a href="" class="titlelink">about</a>
                <a href="" class="titlelink">blog</a>
            </div>
        </div>
	</div>
</div>
