<div id="mainwrapper" class="mainwrapper">
    <div class="section welcomewrapper">
        <div class="welcome">
            <h1>Welcome!</h1>
        </div>
    </div>
    <div class="section emailwrapper">
        <div class="emailform">
            <span class="emailformfield" style="padding:10px;font-size:20px;">Subscribe to Newsletter:</span>
            <span class="emailformfield"><input type="text" placeholder="Name" /></span>
            <span class="emailformfield"><input type="text" placeholder="Email Address" /></span>
            <span class="emailformfield"><button>Subscribe</button></span>
        </div>
    </div>
    <div class="section linkswrapper">
        <div class="linkdiv bloglinkdiv">
            <a href="/blog">Blog</a>
        </div>
        <div class="linkdiv fblinkdiv">
            <a href="#">Facebook</a>
        </div>
        <div class="linkdiv rsrclinkdiv">
            <a href="/resources">Resources</a>
        </div>
    </div>
    <div class="section statementwrapper">
        <div class="missionstatement">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed consequat nibh.
        Nulla vel nisi vel nibh euismod eleifend aliquam sit amet ex. Vestibulum tempus pellentesque dictum.
        Aliquam placerat viverra est vel imperdiet. Duis tristique tincidunt rutrum.
        Duis sit amet neque viverra, rhoncus ex sed, dignissim sapien. Morbi quis lacus ac diam elementum maximus quis eget arcu.
        Pellentesque arcu magna, iaculis vel augue a, placerat facilisis ipsum. Phasellus urna ante, fermentum id facilisis in, sagittis id sem.
        Aliquam in ex feugiat, iaculis nibh nec, interdum tortor. Nullam vel arcu vitae arcu auctor porta.
        Aliquam ante sem, condimentum vel mauris vitae, varius viverra sapien. Nullam fermentum vestibulum vehicula.
        </div>
    </div>
</div>
