<div id="mainwrapper" class="mainwrapper">
    <div class="section welcomewrapper">
        <div class="welcome">
            <h1>Welcome!</h1>
        </div>
    </div>
    <div class="section emailwrapper">
        SECTION3
    </div>
    <div class="section linkswrapper">
        SECTION4
    </div>
    <div class="section statementwrapper">
        SECTION5
    </div>
</div>
