<% content_for :splashpage do %>

<div class="site-bg"></div>
<div id='mainwrapper' class='container'>
    <div class="coming_soon">
        COMING SOON
    </div>
    <div class="coming_soon" style="margin-top:-100px;">
        pastorandrews.org
    </div>
    <div id="clockdiv">
        <div>
            <span class="days"></span>
            <div class="smalltext">days</div>
        </div>
        <div>
            <span class="hours"></span>
            <div class="smalltext">hours</div>
        </div>
        <div>
            <span class="minutes"></span>
            <div class="smalltext">minutes</div>
        </div>
        <div>
            <span class="seconds"></span>
            <div class="smalltext">seconds</div>
        </div>
    </div>
</div>
<% end %>