<div class="contentwrapper">
    <div class="page-top resources-top"></div>
    <h3 class="header header-resources"><span>resources</span> for you</h3>
    <div class="resources">
        <div class="resources-col">
            <div class="resources-col-header written-by">
                <span class="resources-col-header-span">Written by Paul</span>
            </div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nisl justo, aliquam aliquet lectus nec, mollis rhoncus erat.
            Maecenas eu ipsum ullamcorper, rutrum lorem id, aliquet enim. Pellentesque dapibus gravida urna, quis sagittis urna porta nec.
            Duis sagittis justo nec felis sagittis eleifend. Vestibulum ac eros non ante porttitor finibus. Mauris imperdiet mi non ipsum
            ullamcorper, sit amet vestibulum nisl posuere. Nulla nec laoreet mi. Mauris sodales sagittis rhoncus. Donec malesuada rhoncus tortor,
            eget vestibulum quam vulputate vestibulum. Aenean ac blandit enim. Morbi eu gravida elit, id ornare ante. Nullam sollicitudin ligula
            sapien, vel hendrerit dolor laoreet nec. Nunc mollis luctus lorem nec varius. Nulla non velit sed nulla tristique rutrum. Integer
            euismod purus magna, vitae rutrum leo laoreet a. Integer ornare, metus mollis pharetra pharetra, enim tortor vulputate magna, eu
            blandit orci risus ac felis.
        </div>
        <div class="resources-col">
            <div class="resources-col-header read-by">
                <span class="resources-col-header-span">Read by Paul</span>
            </div>
            Cras tempor augue orci, et elementum lorem varius quis. Duis a varius quam. Praesent vel mi at tellus placerat sodales. Praesent
            eget enim id urna cursus luctus ac non arcu. Integer et nunc vitae nulla ultricies euismod. Nullam vitae est a arcu sodales
            rhoncus vitae id justo. Morbi pharetra nisl id ex luctus, vitae dapibus turpis commodo. In hac habitasse platea dictumst. Maecenas
            posuere laoreet felis, ut convallis ex dictum sed.
        </div>
        <div class="resources-col">
            <div class="resources-col-header recommended-by">
                <span class="resources-col-header-span">Recommended by Paul</span>
            </div>
            Sed nec est nibh. Maecenas massa ipsum, fringilla id sapien fermentum, pretium commodo nulla. Nunc bibendum tellus in mauris
            scelerisque, in tempus ante dapibus. Praesent eu ipsum eget nisl ornare consectetur. Nullam vulputate, mauris in ullamcorper
            tincidunt, tellus turpis efficitur lectus, non gravida neque mauris ac urna. Ut sagittis dui et commodo elementum. Curabitur
            scelerisque vel ligula id tristique. Nunc eu felis mi. Cras efficitur lacus vitae magna malesuada maximus.
        </div>
    </div>
</div>
