<div class="contentwrapper">
    <div class="page-top resources-top"></div>
    <h3 class="header header-resources"><span>resources</span> for you</h3>
    <div class="resources">
        <div class="resources-col">
            <div class="resources-col-header written-by">
                <span class="resources-col-header-span">Written by Paul</span>
            </div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nisl justo, aliquam aliquet lectus nec, mollis rhoncus erat.
            Maecenas eu ipsum ullamcorper, rutrum lorem id, aliquet enim. Pellentesque dapibus gravida urna, quis sagittis urna porta nec.
            Duis sagittis justo nec felis sagittis eleifend. Vestibulum ac eros non ante porttitor finibus. Mauris imperdiet mi non ipsum
            ullamcorper, sit amet vestibulum nisl posuere. Nulla nec laoreet mi. Mauris sodales sagittis rhoncus. Donec malesuada rhoncus tortor,
            eget vestibulum quam vulputate vestibulum. Aenean ac blandit enim. Morbi eu gravida elit, id ornare ante. Nullam sollicitudin ligula
            sapien, vel hendrerit dolor laoreet nec. Nunc mollis luctus lorem nec varius. Nulla non velit sed nulla tristique rutrum. Integer
            euismod purus magna, vitae rutrum leo laoreet a. Integer ornare, metus mollis pharetra pharetra, enim tortor vulputate magna, eu
            blandit orci risus ac felis.
        </div>
        <div class="resources-col">
            <div class="resources-col-header read-by">
                <span class="resources-col-header-span">Read by Paul</span>
            </div>
            <p><pTitle>1. Divorce &amp; Remarriage by Guy Duty.</pTitle>
                The divorce issue became important to me years ago when the church I pastored held a view on the subject that alienated divorced people and basically consigned them to second class status. I was forced to examine my own personal convictions about divorce and remarriage. I sought advice and counsel from a man I highly respected and whose background and knowledge on the subject qualified him to address the issue. He simply pointed me to Duty’s book and assured me that it would answer my questions and help me settle my beliefs about divorce and remarriage. It did exactly that and if you want to know what Jesus and the apostles taught about the subject then, by all means, get this book.
            </p>
            <p><pTitle>2. Delighting in the Trinity by Michael Reeves.</pTitle>
                I would say that most believers are unaware of the great importance the doctrine of the Trinity holds to the Christian faith. Michael Reeves has done a wonderful job explaining the significance of the Trinity to our lives as Christians. Far from being a dull theological treatise, this book will thrill your heart and impart a fresh appreciation of who God is.
            </p>
            <p><pTitle>3. The Prodigal God by Timothy Keller.</pTitle>
                Timothy Keller is considered by some as a modern day C.S. Lewis. I would concur with that assessment. Having read most of what he has written, I can say that The Prodigal God is, hands down, my favorite. This is one of those books that opens your eyes to see your relationship to God in a brand new way. The Prodigal God will plunge you into the ocean of God’s love and immerse you in the depths of his grace such as you’ve never experienced.
            </p>
            <p><pTitle>4. Knowing God by J.I. Packer.</pTitle>
                Consider this book by the late J.I. Packer as a systematic theology whereby he formulates an orderly presentation of the God of the Bible. Here you will discover the great difference between knowing about God and possessing true knowledge of him. I would consider this Packer’s greatest contribution to his spiritual legacy. If, as Tozer says, the most important thing about you is how you perceive God, then this book is a must read.
            </p>
            <p><pTitle>5. Knowledge of the Holy by A.W. Tozer.</pTitle>
                I have said before that if there was only one book besides the Bible that I could take with me to a deserted island, it would be Tozer’s Knowledge of the Holy. It is as inspiring as it is informative. Considered by many to be one of the great Christian classics, Knowledge of the Holy eloquently sets forth the majesty of God in his most glorious attributes. If you’re like me, you will come to treasure this work and will return to it, again and again, to feed your soul.
            </p>
        </div>
        <div class="resources-col">
            <div class="resources-col-header recommended-by">
                <span class="resources-col-header-span">Recommended by Paul</span>
            </div>
            Sed nec est nibh. Maecenas massa ipsum, fringilla id sapien fermentum, pretium commodo nulla. Nunc bibendum tellus in mauris
            scelerisque, in tempus ante dapibus. Praesent eu ipsum eget nisl ornare consectetur. Nullam vulputate, mauris in ullamcorper
            tincidunt, tellus turpis efficitur lectus, non gravida neque mauris ac urna. Ut sagittis dui et commodo elementum. Curabitur
            scelerisque vel ligula id tristique. Nunc eu felis mi. Cras efficitur lacus vitae magna malesuada maximus.
        </div>
    </div>
</div>
