<div class="contentwrapper aboutwrapper">
    <div class="page-top about-top"></div>
    <h3 class="header header-about"><span>about</span> pastor andrews</h3>
    <div class="abouttext">
        <p class="dropcaps">Paul's passionate preaching and biblically based sermons enrich and inspire the body of believers here at Faith Family Church. He and his wife Judy have been serving the Lord in minsitry for more than 30 years, and founded Faith Family Church with the goal of creating a Christ centered atmosphere of worship and biblical learning. Come, listen, and be inspired to grow in your walk with Christ.
        </p>
        <p><br>
            <img src="../assets/images/paul-preaching.jpg" style="width:100%;">
        </p>
    </div>
</div>