<div id="fb-root"></div>
<input type="hidden" id="twitter_loaded" value="N" />

<script>
    jQuery( document ).on('turbolinks:load', function()
    {
        var oTwitterDiv = FUSION.get.node('twitter_follow_div');
        var oLoadedDiv = FUSION.get.node("twitter_loaded");

        if(oLoadedDiv.value == "N")
        {
            if(typeof oTwitterDiv !== "undefined" && oTwitterDiv !== null)
            {
                twttr.widgets.createFollowButton(
                    "FFCPastorPaul",
                    document.getElementById("twitter_follow_div"),
                    {
                        showScreenName: "true",
                        showCount: false,
                        size: "large"
                    }
                );
            }
            oLoadedDiv.value = "Y";
        }
    });

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=144417338921718&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    window.fbAsyncInit = function(){  // this gets triggered when FB object gets initialized
        FB.XFBML.parse(); // now we can safely call parse method
    };
</script>



<div class="contentwrapper aboutwrapper">
    <div class="page-top about-top"></div>
    <h3 class="header header-about"><span>about</span> pastor andrews</h3>
    <div class="abouttext" style="padding-top:60px;">
        <h4>Who I am</h4>
        <p><img src="../assets/images/paul-doctorate.jpg" style="float:right;margin-left:20px;">
            I’ve been a pastor for over 30 years and currently am the senior pastor of Faith Family Church in Finksburg, Maryland, a small town near Baltimore.
           My wife, Judith, and I have been married over 40 years. We have three wonderful children and four amazing grandkids, all of whom live in Maryland.
           We are grateful that we can spend time together as a family on Sundays, which is very precious to us.
        <br>I'm here to help Christian men who:
            <ul>
                <li>want to know Christ personally through a deeper understanding of the Bible,</li>
                <li>desire answers about the tough doctrines that are questioned by skeptics, and</li>
                <li>are fighting daily challenges and temptations to lead themselves and their families.</li>
            </ul>
        </p>
    </div>
    <div class="abouttext">
        <h4>My testimony</h4>
        <p><img src="../assets/images/paul-young.jpg" style="margin-right:20px;">The Lord first spoke to my heart when I was about eight years old at a revival meeting with Evangelist Eddie Martin. I walked the aisle and they
           put my name on a card. Nobody prayed with me or took a Bible to show me how to receive Jesus. But I so vividly remember being under great conviction
           as a young boy. I often wonder if the Lord saved me that night,  even though I never really prayed any prayer or made any real public confession of faith.
           Looking back, it is obvious to me that the Lord’s providential hand intervened in my life; protecting, restraining, and eventually bringing me to embrace
           Jesus as Lord. As a 17-year old rebel, I surrendered my life to Christ in a grocery store where I worked. That was in 1971, and I’ve been following Jesus
           ever since.
            It wasn’t long after, in that same year, I answered God’s call to the ministry. Upon high school graduation, I attended Bob Jones University for six years,
            finishing my Master’s Degree in 1978. Eventually, I became a youth pastor at my home church in Jacksonville, Florida until the Lord burdened my heart to
            pastor. I took my first church in 1988. It was a small Baptist church in New Hampshire where I had the joy and privilege of serving for nine years until
            the Lord led us to Baltimore. Judith and I always said we could never start a church. We felt that we weren’t cut out to be church planters. But in 2002,
            God made it clear to me that we should plant a church, and we did. Faith Family Church is now <%= @nNumYears %> years old. God has been so good.
        </p>
    </div>
    <div class="abouttext">
        <h4>What you'll find here</h4>
        <p>This site exists to help men know Jesus Christ so they can more effectively lead themselves and their families. I usually post twice a week, featuring one article and one of my messages at Faith Family Church. Articles are usually on topics such as Christian faith,
            marriage and sex, leadership, parenting, and stewardship. In my preaching, I take an expositional approach, teaching through an entire book of the Bible
            over the course of weeks, months, or, in some cases, years.</p>
    </div>
    <div class="abouttext">
        <h4>Subscribe to my newsletter</h4>
        <p>You can get my latest posts delivered straight to your email inbox by subscribing! As a thank you for joining, I'll also send you a free copy of my e-Book,
            <i>10 Chapters of the Bible Every Christian Should Know and Love</i>.</p>
        <p><button type="button" data-toggle="modal" data-target="#subscription_modal" id="banner_subscribe_button">Subscribe</button></p>
    </div>
    <div class="abouttext">
        <h4>Connect online</h4>
        <p>Here are some other great ways to connect with me and stay up to date:</p>
        <span class="sm_wrapper">
            <div class="sm_divs" style="">
                <div class="fb-like" data-href="https://www.facebook.com/pastorpaulandrews/" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
            </div>
            <div class="sm_divs" style="margin-left:-8px;">
                <div id="twitter_follow_div"></div>
            </div>
            <div class="sm_divs" style="transform: translateY(2.5px) scale(1.15)">
                <div class="g-ytsubscribe" data-channelid="UCB2TuptP6n8S0St_ZDFcp7g" data-layout="default" data-count="hidden"></div>
            </div>
        </span>
        <p>And, if you are in the Baltimore area, I’d love to have you join us at <a target="_blank" href="http://ourfaithfamily.com/">Faith Family Church</a></p>
    </div>
</div>