<div class="contentwrapper aboutwrapper">
    <h3 class="header">about pastor andrews</h3>
    <div class="aboutimage"></div>
    <div class="abouttoptext">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nulla quis mi diam. Quisque quis porta ligula, vitae consectetur est. Suspendisse lacinia, nibh in fringilla interdum,
        quam ex venenatis neque, in lobortis nisi libero eu ex. Quisque ultrices augue non nisi cursus, non aliquet odio tristique.
        Sed metus dui, hendrerit dapibus mauris vel, convallis efficitur purus. Pellentesque a purus quis enim faucibus dapibus nec
        id leo. Morbi rutrum sapien eget diam dictum, ac interdum lectus suscipit.</p>
        <p>Donec non lectus semper, aliquam leo nec, dapibus sapien. Vivamus semper libero eu arcu suscipit blandit. Mauris quis leo a
        massa consequat varius. Cras odio magna, bibendum id porttitor non, vestibulum in tortor. Nam id dolor ut dolor luctus egestas
        sit amet id orci. Aenean vitae mattis erat. Nunc vel ornare arcu. Nullam convallis, velit eu vehicula mollis, turpis sem tempor
        arcu, at aliquam enim neque nec dolor.</p>
        <p>Donec nec justo faucibus, dapibus dui at, vehicula erat. In a hendrerit massa. Morbi hendrerit dui fringilla semper porttitor.
        Maecenas feugiat erat enim, vitae ultrices nisi imperdiet in. Suspendisse potenti. Etiam condimentum odio orci, non finibus
        tortor vehicula sit amet. Nam a ligula mollis, vestibulum ligula id, tincidunt felis. Vestibulum neque ex, dapibus sit amet purus
        vitae, maximus placerat nulla. Donec eu sodales nulla.</p>
    </div>
    <div class="aboutbottomtext">
        <p>Phasellus at nibh eros. Maecenas vitae convallis libero. Integer accumsan, dui eu elementum luctus, orci purus varius turpis,
        at facilisis libero velit sit amet massa. Vestibulum lectus felis, tincidunt quis tempus in, dignissim in diam. Nunc tincidunt,
        dolor sit amet rhoncus facilisis, quam tortor aliquam ipsum, id scelerisque mauris sem quis tortor.</p>
        <p>Praesent blandit, tellus id facilisis iaculis, purus ante porttitor neque, ullamcorper pharetra massa leo eu lectus. Praesent
        mollis, lorem euismod mollis suscipit, magna lectus pulvinar metus, ut lacinia urna mauris ut lectus. Mauris porta, nunc eget
        laoreet aliquet, mauris orci pulvinar lectus, quis luctus nibh velit vitae est. Maecenas vitae nibh vel tellus condimentum vulputate.</p>
    </div>
    <div class="aboutlinks">
        <span><a href="#" id=fblogo></a></span>
        <span><a href="#" id=twitterlogo></a></span>
        <span><a href="#" id=instalogo></a></span>
    </div>
</div>