@import url("https://fonts.googleapis.com/css?family=Brawler:100,200,300,400,500,600,700");

*:before, *:after {
    box-sizing: border-box;
}

html, body {
    height:100%;
    min-height:100%;
	margin: 0;
	padding: 0;
	cursor:default;
    font-family: 'Brawler', serif;
}

a {
	text-decoration:none !important;
	outline:none !important;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1.1;
    color: inherit;
}

p {
    font-family: 'Brawler', serif;
    line-height:30px;
}

.light-grey-transparent-bg { background-color:rgba(231,224,214,0.65); }
.light-grey-bg { background-color:#e7e0d6; }
.light-grey { color:#e7e0d6; }
.med-grey-transparent-bg { background-color:rgba(181,174,162,0.65); }
.med-grey-bg { background-color:#b5aea2; }
.med-grey { color:#b5aea2; }
.dark-grey-transparent-bg { background-color:rgba(114,115,106,0.65); }
.dark-grey-bg { background-color:#72736a; }
.dark-grey { color:#72736a; }
.dark-blue-transparent-bg { background-color:rgba(65,68,85,0.65); }
.dark-blue-bg { background-color:#414455; }
.dark-blue { color:#414455; }
.dark-red-transparent-bg { background-color:rgba(99,62,70,0.65); }
.dark-red-bg { background-color:#633e46; }
.dark-red { color:#633e46; }

#mainwrapper {
    z-index:2;
    position: relative;
}

#fblogo {
    background: url('/assets/fblogo.png'), no-repeat;
    background-position: 50%;
    background-size: cover;
}

#twitterlogo {
    background: url('/assets/twitterlogo.png'), no-repeat;
    background-position: 50%;
    background-size: cover;
}

#instalogo {
    background: url('/assets/instalogo.png'), no-repeat;
    background-position: 50%;
    background-size: cover;
}

.abouttext > p:nth-child(1):first-letter {
    color: #483D3F;
    float: left;
    font-size: 70px;
    line-height: 70px;
    padding-right: 15px;
}

.splitter {
    height:80px;
    background-color:#fff;
    float:left;
    width:100%;
}

.splitter_inner {
    width:98%;
    margin-left:1%;
    margin-right:1%;
    float:left;
    border-top:1px solid #ddd;
    margin-top:40px;
    margin-bottom:40px;
    height:1px;
}

.header-about {
    background-color: rgba(75, 64, 88, 0.56);
}

.header-contact {
    background-color: rgba(100, 90, 70, 0.56);
}

.header-resources {
    background-color: rgba(109, 84, 80, 0.56);
}

.header-blog {
    margin: -138px 0px 50px !important;
    background-color: rgba(74, 82, 103, 0.56);
}

.header {
    width: auto;
    text-align: left;
    color: #fff;
    font-weight: 200;
    padding: 30px;
    margin: -138px 0px 80px;
    font-size: 70px;
    padding-left: 40px;
}

.header > span {
    font-weight:600;
}

.section {
    float:left;
    width:100%;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color:#fff;
}

.site-bg {
    background: linear-gradient(to bottom, rgba(255,255,255,0), white), url(./mountain-bg-3.jpg);
    background-color:#f2f0f1;
    background-position: center 75px;
    background-repeat:no-repeat;
	background-size:cover;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:900px;
	z-index:-1;
}

.p-author {
    font-weight:bold;
    color: #483D3F;
}

.titlelinks > div > a:hover, .titlelinks > div > a:focus {
    color: #483D3F !important;
    text-decoration: none !important;
    background-color: #c1b8be;
}

.site_nav {
    padding:0px;
    width:100%;
    float:left;
    min-width:500px;
}

.navbar-fixed {
    top: 0;
    left:0;
    z-index: 100;
    position: fixed;
    width: 100% !important;
    background-color: #f2f0f1;
}

.navbar-inner-fixed {
    width:1140px;
    margin-left:auto;
    margin-right:auto;
}

.navbar-inner-fixed > a {}

.navbar-inner-fixed > a:hover, .navbar-inner-fixed > a:focus {
    border:0;
}

.titlewrapper {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    color:#483D3F;
    margin-top:20px;
}

.title {
    font-size:64px;
    text-align:center;
    height: 150px;
    line-height: 100px;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.homelink {
    text-decoration: none !important;
    color: #483D3F;
    display:block;
}

.homelink:hover, .homelinke:focus {
    text-decoration: none !important;
    color: #483D3F;
}

.titleandrews {
    font-weight:700;
}

.titlepastor {
    font-weight:200;
}

.titledr {
    color: #a499a2;
    width: 850px;
    display: block;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    height: 24px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 9px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.titlelinks {
    text-transform: lowercase;
    font-size: 21px;
    text-align: center;
    width: 100%;
    border-top: 1px solid #c1b8be;
    margin-left: auto;
    margin-right: auto;
    height:50px;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.titlelink {
    width:20%;
    text-align:center;
    display:block;
    float:left;
    color:#6F646C;
    padding:10px;
}

.topdiv {
    height:850px !important;
    padding:0px !important;
    width:100% !important;
}

.contentwrapper {
    background-color:#fff;
    padding:33px 0px;
    float:left;
    margin-top:50px;
    width:100%;
    min-height:1200px;
}

.resources {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
}

.resources-col {
    float: left;
    width: 30%;
}

.resources-col-header {
    display: block;
    width: 100%;
    height: 250px;
    margin-bottom:20px;
}

.resources-col-header-span {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    top: 200px;
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    height: 50px;
    line-height:50px;
    background-color: rgba(62, 49, 52, 0.65);
}

.written-by {
    background-image: url('/assets/written-by-small.jpg');
    background-position: 50%;
    background-size: cover;
}
.read-by {
    background-image: url('/assets/read-by-small.jpg');
    background-position: 50%;
    background-size: cover;
}
.recommended-by {
    background-image: url('/assets/recommended-by-small.jpg');
    background-position: 50%;
    background-size: cover;
}

.welcomewrapper {
    border-top:0 !important;
    height:450px;
    background:#222;
    margin-top:50px;
    box-shadow: 0 -5px 20px 0 rgba(0,0,0,.2);
    background-image: url(./paul-banner-2.jpg);
}

.welcomewrapper > .welcome > h1 {
    width:100%;
    text-align:center;
    color:#483D3F;
    margin:0 !important;
    font-size:50px;
    font-weight:300;
    height:150px;
    line-height:150px;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.welcome {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:19px;
    color:#f9edf0;
    padding: 50px 70px 50px 550px;
    font-weight:300;
    line-height:30px;
}

.welcome > span {
    font-weight: 700;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 52px;
    line-height:62px;
    color: #a7777f;
}

.emailwrapper {
    height: 130px;
}

.emailform {
    width:97%;
    margin-left:1.5%;
    height:100%;
    margin-top:20px;
}

.emailformfield {
    width:25%;
    display:block;
    float:left;
    text-align:center;
}

.emailformfield > input, .emailformfield > button {
    padding:10px;
    border:1px solid #c4beb3;
    width:200px;
    height:44px;
    font-size:18px;
    text-align:center;
}

.emailformfield > button {
    background:#FFF;
    font-size:18px;
}

.linkswrapper {
    height: 250px;
    padding-top: 40px;
    width: calc(100% + 60px);
    display: flex;
    justify-content: space-around;
    margin-left: -30px;
}

.linkdiv {
    width:20%;
    height:100%;
    float:left;
    border:1px solid #eee;
}

.linkdiv > a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 210px;
    color: #fff;
    font-size: 24px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    background-repeat: no-repeat;
    text-align: center;
    text-transform: lowercase;
    font-weight: 600;

    /*display: block;
    width: 100%;
    height: 100%;
    line-height: 340px;
    color: #fff;
    font-size: 24px;
    padding-left: 30px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    background-repeat:no-repeat;*/
}

.sublinkdiv {
    background-image: url('/assets/paul003-small.jpg');
    background-position: 50%;
    background-size: cover;
}

.bloglinkdiv {
    background-image: url(/assets/paul010-small.jpg);
    background-position: 40% 40%;
    background-size: 250%;
}

.fblinkdiv {
    background-image: url('/assets/paul015-small.jpg');
    background-position: 40% 60%;
    background-size: 250%;
}

.rsrclinkdiv {
    background-image: url(/assets/paul013-small.jpg);
    background-position: 100% 20%;
    background-size: 200%;
}

.statementwrapper{}

.missionstatement {
    height:100%;
    width:100%;
    padding: 33px 66px;
    background-color: #f7f7f7;
    font-size: 20px;
}

.collagewrapper {
    height: 650px;
    width: calc(100% + 30px);
    margin-left: -15px;
}

.collage-row {
    width:100%;
    height:50%;
}

.collage-img {
    margin:1.15%;
    float:left;
    background-size: cover !important;
    background-position: 50% !important;
/*     box-shadow: 0 0px 30px 0 rgba(0,0,0,.2); */
    border: 1px solid #eee;
}

.collage-row-1-img {
    width:31%;
    height:92%;
}

.collage-row-2-img {
    height:92%;
}

.collage-row-1-img-1 {
    background: url(/assets/paul009-small.jpg), no-repeat;
}

.collage-row-1-img-2 {
    background: url(/assets/paul019-small.jpg), no-repeat;
    background-position: 100% 25% !important;
}

.collage-row-1-img-3 {
    background: url(/assets/paul001-small.jpg), no-repeat;
    background-position: 40% 35% !important;
    background-size: 200% !important;
}

.collage-row-2-img-1 {
    width: 24%;
    margin-left: 8%;
    height: 75%;
    background: url(/assets/paul002-small.jpg), no-repeat;
}

.collage-row-2-img-2 {
    width:14.5%;
    background: url(/assets/paul006-small.jpg), no-repeat;
}

.collage-row-2-img-3 {
    width:14.5%;
    background: url(/assets/paul014-small.jpg), no-repeat;
}

.collage-row-2-img-4 {
    width: 24%;
    height: 75%;
    background: url(/assets/paul011-small.jpg), no-repeat;
}

.contactformwrapper {}

.contactform {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 30px;
    background-color: #f7f7f7;
    height: 660px;
    box-shadow: 0px 4px 6px -4px #333;
    border: 1px solid #eee;
    border-radius: 4px;
}

.aboutwrapper {}

.page-top {
    height: 400px;
    background-size: cover;
    background-position: center;
    box-shadow:inset 0px 0px 0px 1px rgba(0, 0, 0, 0.06);
    margin: -33px 0px;
}

.about-top {
    background-image: url(/assets/paul007-small.jpg);
}

.contact-top {
    background-image: url(/assets/paul017-small.jpg);
    background-position: 50% 20%;
}

.resources-top {
    background-image: url(/assets/paul006-small.jpg);
}

.blog-top {
    background-image: url(/assets/paul010-small.jpg);
    width: 100%;
}

.aboutimage {
    background: url(/assets/paul019-small.jpg), no-repeat;
    background-position: 70%;
    background-size: cover;
    width: 300px;
    margin: 5px 50px 10px 5px;
    float: left;
    height: 580px;
}

.abouttext {
    float:left;
    width:100%;
    padding:10px;
}

.aboutlinks {
    height:140px;
    width:100%;
    float:left;
    padding: 20px;
    margin-bottom: 20px;
}

.aboutlinks > span > a {
    display:block;
    width:100px;
    height:100px;
    margin-right:auto;
    margin-left:auto;
}

.aboutlinks > span {
    width:33%;
    float:left;
    display:block;
}

.footer {
    height: 295px;
    position: relative;
    bottom: 0;
    padding: 10px;
    float: left;
    font-size: 14px;
    width: 100%;
    text-align: center;
    background-color: #483D3F;
    color: #fff;
}

.footerdivouter {
    margin-left:auto;
    margin-right:auto;
    height:100%;
}

.footerdivcontent {
    height: calc(100% - 20px);
    float:left;
    width:100%;
}

.footerdivcopyright {
    height:20px;
    float:left;
    width:100%;
}

.twitterdiv {
	float: right;
	padding: 15px;
	top: 0px;
	width: 30%;
	padding-left: 30px;
	padding-top: 30px;
	padding-right:0px;
}

.bubble {
    background-color: #EFEFEF;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

.bubble_date {
    float: left;
    display: block;
    width: 100%;
    font-size: 12px;
    margin-top: 5px;
    text-transform: uppercase;
	color:#999;
}

.tweetdiv {
	width:100%;
	float:left;
	margin-bottom:15px;
	border-bottom: 1px solid #DDD;
	padding-bottom: 20px;
}

.tweeticon {
	float:left;
	margin-right:5px;
	border-radius:5px;
}

.tweetusername {
	font-weight:bold;
	width:100%;
}

.tweetscreenname {
	color:#aaa;
	display:block;
}

.tweettext {
	float:left;
	display:block;
	margin-top:5px;
}

.tweetimg {
	width:90%;
	margin:5%;
	display:block;
	border-radius:2px;
	float:left;
	margin-top:5px;
	margin-bottom:5px;
}

.tweetnamewrapper {
	float:left;
	height:50px;
	font-size:1.2em;
}

.tweetheader {
	padding-left: 5%;
	padding-right: 5%;
}

.fl {
	float:left;
}

.fr {
	float:right;
}

.w50fl {
	width:50%;
	float:left;
}

.innerw50fl {
	width:50%;
	float:left;
}

.w100fl {
	width:100%;
	float:left;
}

.h100fl {
	height:100%;
	float:left;
}

