
*:before, *:after {
    box-sizing: border-box;
}

html, body {
    height:100%;
    min-height:100%;
	margin: 0;
	padding: 0;
	cursor:default;
    font-family:'ShreeDev0714';
    background: #f7f7f7;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
/*     background: #fff url(/assets/background2.png) 0 0 no-repeat; */
/*     background-size: cover; */
    /*background: url(/assets/background2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

a {
	text-decoration:none !important;
	outline:none !important;
}

a:hover, a:focus {
    color: #483D3F !important;
    text-decoration: none !important;
}

.site_nav {
    padding:0px;
    width:100%;
    float:left;
    min-width:600px;
}

.mainwrapper {
	width:1050px;
	margin-left:auto;
	margin-right:auto;
/* 	background-color:#e5e1d7; */
    height:1850px;
}

.titlewrapper {
    width:100%;
    margin-left:auto;
    margin-right:auto;
/*     color:#e7e0d6; */
    color:#c4beb3;
    margin-top:50px;
}

.title {
    font-size:50px;
    text-transform:uppercase;
    text-align:center;
    height: 175px;
    line-height: 100px;
}

.titlepastor {
    color:#7d786c;
    font-weight:bold;
}

.titlelinks {
    text-transform: lowercase;
    font-size: 21px;
    padding-top: 10px;
    text-align: center;
    width: 80%;
    border-top: 1px solid;
    margin-left: auto;
    margin-right: auto;
    height:40px;
}

.titlelink {
    width:20%;
    text-align:center;
    display:block;
    float:left;
    color:#c4beb3;
}

.topdiv {
    height:850px !important;
    padding:0px !important;
    width:100% !important;
}

.welcomewrapper {
    margin-top:75px !important;
    border-top:0 !important;
    height:500px;
    background: url(/assets/mountains_small.jpg) no-repeat center center;
}

.welcomewrapper h1 {
    width:100%;
    text-align:center;
    color:#483D3F;
    margin:0 !important;
    font-size:50px;
    height:150px;
    line-height:160px;
/*     text-transform: uppercase; */
}

.welcome {
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f7f7f7;
    margin-top: 175px;
    box-shadow: 0px 4px 6px -2px #333;
    border-radius: 4px;
}

.emailwrapper {
    height: 130px;
}

.linkswrapper {
    height: 250px;
}

.statementwrapper{
    height:250px;
}

.section {
    float:left;
    width:100%;
    font-family: 'ShreeDev0714' !important;
    border-top:1px solid #c4beb3;
    margin-top: 40px;
}


.bg4 {
    background-color:#e5e1d7;
}

.bg5 {
    background-color:#c4bfb2;
}

.bg6 {
    background-color:#392d30;
/*     background-color:#e5e1d7; */
}

.fl {
	float:left;
}

.fr {
	float:right;
}

.w50fl {
	width:50%;
	float:left;
}

.innerw50fl {
	width:50%;
	float:left;
}

.w100fl {
	width:100%;
	float:left;
}

.h100fl {
	height:100%;
	float:left;
}

