@import url("https://fonts.googleapis.com/css?family=Brawler:100,200,300,400,500,600,700");

*:before, *:after {
    box-sizing: border-box;
}

html, body {
    height:100%;
    min-height:100%;
	margin: 0;
	padding: 0;
	cursor:default;
/*     font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif; */
/*     font-family:'ShreeDev0714'; */
/*     font-family: Georgia, "Times New Roman", Times, serif; */
/*     font-family: 'Radley', serif; */
    font-family: 'Brawler', serif;
/*     background: #fff; */
}

a {
	text-decoration:none !important;
	outline:none !important;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
/*     font-family: "ShreeDev0714", Helvetica, Arial, sans-serif; */
/*     font-family: Georgia, "Times New Roman", Times, serif; */
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1.1;
    color: inherit;
}

a[rel="tag"] {
    font-weight:bold;
    font-style:italic;
}

p {
/*     font-family: Georgia, "Times New Roman", Times, serif; */
/*     font-family: 'Radley', serif; */
    font-family: 'Brawler', serif;
    line-height:30px;
}

.splitter {
    height:80px;
    background-color:#fff;
    float:left;
    width:100%;
}

.splitter_inner {
    width:98%;
    margin-left:1%;
    margin-right:1%;
    float:left;
    border-top:1px solid #c4beb3;
    margin-top:40px;
    margin-bottom:40px;
    height:1px;
}

.header {
    width: calc(100% - 20px);
    text-align: center;
    color: #7d786c;
    font-weight: 300;
    padding: 30px;
    border: 1px solid #ccc;
    margin: 20px 10px;}

.section {
    float:left;
    width:100%;
/*     font-family: 'ShreeDev0714' !important; */
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
/*     border-top:1px solid #c4beb3; */
/*     margin-top: 40px; */
/*     padding-top:40px; */
    background-color:#fff;
}

.bg-1 {
	background: #D5D0D4 url(./rocky-mt-bg.jpg) center 100px no-repeat;
	background-size:cover;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:1249px;
	z-index:-1;
}


.p-author {
    font-weight:bold;
    font-style:italic;
}

.titlelinks > a:hover, .titlelinks > a:focus {
    color: #483D3F !important;
    text-decoration: none !important;
/*     background-color:#D4D1C7; */
    background-color: #c1b8be;
}

.site_nav {
    padding:0px;
    width:100%;
    float:left;
    min-width:600px;
}

#mainwrapper {
/*     background: #fff; */
    z-index:2;
    position: relative;
}

.titlewrapper {
    width:100%;
    margin-left:auto;
    margin-right:auto;
/*     color:#c4beb3; */
    color:#483D3F;
    margin-top:20px;
/*     margin-top:30px; */
}

.title {
    font-size:64px;
/*     font-size:50px; */
/*     text-transform:uppercase; */
    text-align:center;
/*     height: 175px; */
    height: 150px;
    line-height: 100px;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.titleandrews {
    font-weight:700;
}

.titlepastor {
    font-weight:200;
/*     color:#7d786c; */
}

.titledr {
    color:#b5aab3;
    width: 420px;
    display: block;
    font-size: 20px;
    font-weight:300;
    text-transform: uppercase;
    height: 24px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 9px;
    margin-left: auto;
    margin-right: auto;
    margin-top:-18px;
}

.titlelinks {
    text-transform: lowercase;
    font-size: 21px;
    text-align: center;
    width: 100%;
    border-top: 1px solid #c1b8be;
    margin-left: auto;
    margin-right: auto;
    height:50px;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.titlelink {
    width:20%;
    text-align:center;
    display:block;
    float:left;
/*     color:#c4beb3; */
    color:#6F646C;
    padding:10px;
}

.topdiv {
    height:850px !important;
    padding:0px !important;
    width:100% !important;
}

.contentwrapper {
    background-color:#fff;
    padding:33px 66px;
    float:left;
    margin-top:50px;
    width:100%;
    min-height:1200px;
}

.resourceswrapper {}

.welcomewrapper {
/*     margin-top:75px !important; */
    border-top:0 !important;
    height:500px;
    background:none;
/*     background: url(/assets/mountains_small.jpg) no-repeat center center; */
/*     width: 97% !important; */
/*     margin-left: 1.5%; */
}

.welcomewrapper > .welcome > h1 {
    width:100%;
    text-align:center;
    color:#483D3F;
    margin:0 !important;
    font-size:50px;
    font-weight:normal;
    height:150px;
    line-height:160px;
/*     font-family: 'ShreeDev0714' !important; */
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.welcome {
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f7f7f7;
    margin-top: 135px;
    box-shadow: 0px 4px 6px -2px #333;
    border-radius: 4px;
}

.emailwrapper {
    height: 130px;
}

.emailform {
    width:97%;
    margin-left:1.5%;
    height:100%;
    margin-top:20px;
}

.emailformfield {
    width:25%;
    display:block;
    float:left;
    text-align:center;
}

.emailformfield > input, .emailformfield > button {
    padding:10px;
    border:1px solid #c4beb3;
    width:200px;
    height:44px;
    font-size:18px;
    text-align:center;
}

.emailformfield > button {
    background:#FFF;
    font-size:18px;
}

.linkswrapper {
    height: 250px;
    padding-top:40px
}

.linkdiv {
    width:20%;
    height:100%;
    float:left;
    margin-left:2.5%;
    margin-right:2.5%;
}

.linkdiv > a {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #f7f7f7;
    height: 60px;
    margin-top: 80px;
    padding-top: 15px;
    text-decoration: none;
    color: #483D3F;
    font-size: 24px;
    box-shadow: 0px 4px 6px -2px #333;
    border-radius:4px;
}

.sublinkdiv {
    background: url('/assets/news.jpg'), no-repeat; background-position: 50%; background-size: cover;
}
.bloglinkdiv {
    background: url('/assets/blog.jpg'), no-repeat; background-position: 50%; background-size: cover;
}
.fblinkdiv {
    background: url('/assets/fb.jpg'), no-repeat; background-position: 50%; background-size: cover;
}
.rsrclinkdiv {
    background: url('/assets/resources.jpg'), no-repeat; background-position: 50%; background-size: cover;
}

.statementwrapper{}

.missionstatement {
    height:100%;
    width:97%;
    margin-left:1.5%;
    padding: 33px 66px;
    background-color: #f7f7f7;
    font-size: 20px;
}

.collagewrapper {
    height: 222px;
}

.collagewrapper > div > ul {
    list-style: none;
    padding:0;
    margin:0;
}

.collagewrapper > div > ul > li {
    float:left;
    width:20%;
}

.collagewrapper > div > ul > li > img {
    width:100%;
}

.collagediv {
    height:100%;
    width:97%;
    margin-left:1.5%;
}

.carousel-inner > .item {
    background-color: #c4beb3 !important;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    max-height: 500px !important;
    margin: 0 auto;
}

.carousel-control {
    opacity:1 !important;
}

.carousel-control.right, .carousel-control.left {
    background-image:none !important;
    background:#483D3F !important;
}

.carousel-control.right > a:hover {
    color:#f7f7f7 !important;
}

.carousel-control.left > a:hover {
    color:#f7f7f7 !important;
}

.contactformwrapper {}

.contactform {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 30px;
    background-color: #f7f7f7;
    height: 660px;
    box-shadow: 0px 4px 6px -4px #333;
    border: 1px solid #eee;
    border-radius: 4px;
}

.aboutwrapper {}

.aboutimage {
/*    background: url('/assets/dad.jpg'), no-repeat; background-position: 50%; background-size: cover;
    width:calc(50% - 20px);
    margin:10px;
    float:left;
    height:685px;
    box-shadow: 0px 5px 15px -5px #333;*/
    background: url(/assets/dad.jpg), no-repeat;
    background-position: 72%;
    background-size: cover;
    width: 300px;
    margin: 20px 50px 20px 10px;
    float: left;
    height: 505px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1), 0 4px 12px 0 rgba(0,0,0,0.2);
}

.abouttoptext {
    float:left;
/*     width:50%; */
    width:calc(100% - 360px);
    padding:10px;
}

.aboutbottomtext {
    float:left;
    width:100%;
    padding:10px;
}

.aboutlinks {
    height:140px;
    width:100%;
    float:left;
    padding: 20px;
    margin-bottom: 20px;
}

.aboutlinks > span > a {
    display:block;
    width:100px;
    height:100px;
    margin-right:auto;
    margin-left:auto;
}

.aboutlinks > span {
    width:33%;
    float:left;
    display:block;
}

.footerdivouter {
    margin-left:auto;
    margin-right:auto;
    height:100%;
}

.footerdivcontent {
    height: calc(100% - 20px);
    float:left;
    width:100%;
}

.footerdivcopyright {
    height:20px;
    float:left;
    width:100%;
}

#fblogo {
    background: url('/assets/fblogo.png'), no-repeat; background-position: 50%; background-size: cover;
}

#twitterlogo {
    background: url('/assets/twitterlogo.png'), no-repeat; background-position: 50%; background-size: cover;
}

#instalogo {
    background: url('/assets/instalogo.png'), no-repeat; background-position: 50%; background-size: cover;
}

.footer {
    height: 200px;
    position: relative;
    bottom: 0;
    padding: 10px;
    float: left;
    font-size: 14px;
    width: 100%;
    text-align: center;
    background-color: #483D3F;
    color: #fff;}

.twitterdiv {
	float: right;
	padding: 15px;
	top: 0px;
	width: 30%;
	padding-left: 30px;
	padding-top: 30px;
	padding-right:0px;
}

.bubble {
    background-color: #EFEFEF;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

.bubble_date {
    float: left;
    display: block;
    width: 100%;
    font-size: 12px;
    margin-top: 5px;
    text-transform: uppercase;
	color:#999;
}

.tweetdiv {
	width:100%;
	float:left;
	margin-bottom:15px;
	border-bottom: 1px solid #DDD;
	padding-bottom: 20px;
}

.tweeticon {
	float:left;
	margin-right:5px;
	border-radius:5px;
}

.tweetusername {
	font-weight:bold;
	width:100%;
}

.tweetscreenname {
	color:#aaa;
	display:block;
}

.tweettext {
	float:left;
	display:block;
	margin-top:5px;
}

.tweetimg {
	width:90%;
	margin:5%;
	display:block;
	border-radius:2px;
	float:left;
	margin-top:5px;
	margin-bottom:5px;
}

.tweetnamewrapper {
	float:left;
	height:50px;
	font-size:1.2em;
}

.tweetheader {
	padding-left: 5%;
	padding-right: 5%;
}

.fl {
	float:left;
}

.fr {
	float:right;
}

.w50fl {
	width:50%;
	float:left;
}

.innerw50fl {
	width:50%;
	float:left;
}

.w100fl {
	width:100%;
	float:left;
}

.h100fl {
	height:100%;
	float:left;
}

