
*:before, *:after {
    box-sizing: border-box;
}

html, body {
    height:100%;
    min-height:100%;
	margin: 0;
	padding: 0;
	cursor:default;
    font-family:'ShreeDev0714';
    background: #f7f7f7;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
/*     background: #fff url(/assets/background2.png) 0 0 no-repeat; */
/*     background-size: cover; */
    /*background: url(/assets/background2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

a {
	text-decoration:none !important;
	outline:none !important;
}

.titlelinks > a:hover, .titlelinks > a:focus {
    color: #483D3F !important;
    text-decoration: none !important;
    background-color:#D4D1C7;
}

.site_nav {
    padding:0px;
    width:100%;
    float:left;
    min-width:600px;
}

.mainwrapper {
	width:1050px;
	margin-left:auto;
	margin-right:auto;
}

.titlewrapper {
    width:100%;
    margin-left:auto;
    margin-right:auto;
/*     color:#e7e0d6; */
    color:#c4beb3;
    margin-top:50px;
}

.title {
    font-size:50px;
    text-transform:uppercase;
    text-align:center;
    height: 175px;
    line-height: 100px;
}

.titlepastor {
    color:#7d786c;
    font-weight:bold;
}

.titlelinks {
    text-transform: lowercase;
    font-size: 21px;
    text-align: center;
    width: 62.5%;
    border-top: 1px solid;
    margin-left: auto;
    margin-right: auto;
    height:50px;
}

.titlelink {
    width:20%;
    text-align:center;
    display:block;
    float:left;
    color:#c4beb3;
    padding:10px;
}

.topdiv {
    height:850px !important;
    padding:0px !important;
    width:100% !important;
}

.welcomewrapper {
    margin-top:75px !important;
    border-top:0 !important;
    height:500px;
    background: url(/assets/mountains_small.jpg) no-repeat center center;
    width: 97% !important;
    margin-left: 1.5%;
}

.welcomewrapper h1 {
    width:100%;
    text-align:center;
    color:#483D3F;
    margin:0 !important;
    font-size:50px;
    font-weight:normal;
    height:150px;
    line-height:160px;
    font-family: 'ShreeDev0714' !important;
}

.welcome {
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f7f7f7;
    margin-top: 135px;
    box-shadow: 0px 4px 6px -2px #333;
    border-radius: 4px;
}

.emailwrapper {
    height: 130px;
}

.emailform {
    width:97%;
    margin-left:1.5%;
    height:100%;
    margin-top:20px;
}

.emailformfield {
    width:25%;
    display:block;
    float:left;
    text-align:center;
}

.emailformfield input, button {
    padding:10px;
    border:1px solid #c4beb3;
    width:200px;
    height:44px;
    font-size:18px;
    text-align:center;
}

.emailformfield button {
    background:#FFF;
    font-size:18px;
}

.linkswrapper {
    height: 250px;
}

.linkdiv {
    width:30%;
    height:100%;
    float:left;
    margin-left:1.5%;
    margin-right:1.5%;
}

.linkdiv > a {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #f7f7f7;
    height: 60px;
    margin-top: 80px;
    padding-top: 15px;
    text-decoration: none;
    color: #483D3F;
    font-size: 24px;
    box-shadow: 0px 4px 6px -2px #333;
    border-radius:4px;
}

.bloglinkdiv {
    background: url('/assets/blog.jpg'), no-repeat; background-position: 50%; background-size: cover;
}
.fblinkdiv {
    background: url('/assets/fb.jpg'), no-repeat; background-position: 50%; background-size: cover;
}
.rsrclinkdiv {
    background: url('/assets/resources.jpg'), no-repeat; background-position: 50%; background-size: cover;
}

.statementwrapper{}

.missionstatement {
    height:100%;
    width:97%;
    margin-left:1.5%;
}

.carouselwrapper {
    height: 580px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #c4beb3;
}

.carouseldiv {
    height:100%;
    width:97%;
    margin-left:1.5%;
}

.carousel-inner > .item {
    background-color: #c4beb3 !important;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    max-height: 500px !important;
    margin: 0 auto;
}

.carousel-control {
    opacity:1 !important;
}

.carousel-control.right, .carousel-control.left {
    background-image:none !important;
    background:#483D3F !important;
}

.carousel-control.right > a:hover {
    color:#f7f7f7 !important;
}

.carousel-control.left > a:hover {
    color:#f7f7f7 !important;
}

.section {
    float:left;
    width:100%;
    font-family: 'ShreeDev0714' !important;
    border-top:1px solid #c4beb3;
    margin-top: 40px;
    padding-top:40px;
}

.footer {
    height: 40px;
    position: relative;
    bottom: 0;
    padding: 10px;
    float: left;
    font-size:14px;
}

.fl {
	float:left;
}

.fr {
	float:right;
}

.w50fl {
	width:50%;
	float:left;
}

.innerw50fl {
	width:50%;
	float:left;
}

.w100fl {
	width:100%;
	float:left;
}

.h100fl {
	height:100%;
	float:left;
}

