<!DOCTYPE html>

<% siteurl = "http://ffcpastor.com/" %>

<html lang="en">
	<%= render partial: "shared/head" %>
    <body>
        <div class="site-bg"></div>
        <div id='mainwrapper' class='container'>
            <%= render "shared/nav", siteurl: siteurl %>
            <%= yield %>
        </div>
        <%= render "shared/footer", siteurl: siteurl %>
    </body>
</html>
