<!DOCTYPE html>
<html>
	<%= render partial: "shared/head" %>
    <body>
        <div id='mainwrapper' class='container'>
            <%= render partial: "shared/nav" %>
            <%= yield %>
            <%= render partial: "shared/footer" %>
        </div>
    </body>
</html>
