<!DOCTYPE html>

<% siteurl = "http://ffcpastor.com/" %>

<html lang="en">
	<%= render partial: "shared/head" %>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=144417338921718&autoLogAppEvents=1';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

        <div class="site-bg"></div>
        <div id='mainwrapper' class='container'>
            <%= render "shared/nav", siteurl: siteurl %>
            <%= yield %>
        </div>
        <%= render "shared/footer", siteurl: siteurl %>

        <!-- Modal -->
        <div class="modal fade" id="subscription_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                    <form id="subscription_form">
                        <button id="close_button" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="header_div form-group">
                            Download this free e-book to discover ten of the most significant<br>
                            chapters of the Bible that every Christian should know and love
                        </div>
                        <div class="form-group">
                            <label for="subscribe_email">Email address</label>
                            <input type="email" class="form-control" name="subscribe_email" id="subscribe_email" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <label for="subscribe_fname">First Name</label>
                            <input type="text" class="form-control" name="subscribe_fname" id="subscribe_fname" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label for="subscribe_lname">Last Name</label>
                            <input type="text" class="form-control" name="subscribe_lname" id="subscribe_lname" placeholder="Last Name">
                        </div>
                    </form>
                    </div>
                    <div class="modal-footer">
                        <span>
                            You'll also receive weekly emails to encourage and equip you in your Christian walk.
                            If you change your mind, you can unsubscribe at any time.
                        </span>
                        <button type="button" id="subscribe_button" class="btn btn-default">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
