<!DOCTYPE html>
<html lang="en">
	<%= render partial: "shared/head" %>
    <body>
        <div class="site-bg"></div>
        <div id='mainwrapper' class='container'>
            <%= render partial: "shared/nav" %>
            <%= yield %>
        </div>
        <%= render partial: "shared/footer" %>
    </body>
</html>
